.h1 {
    color: #8B0000;
    font-size: 2em
}

.h2 {
    font-size: 2.9em;
    color: rgba(15, 56, 22, 0.6);
    margin-left: 50px;
}

.desc {
    color: rgba(40, 46, 223, 0.6);
    font-size: 2em;
    width: 50%;
    margin-left: 50px;
    text-align: center;
}

.links {
    font-size: 2em;
}

.linksin {
    font-size: 1.5em;
}

.apaixonado {
    font-size: 2.1em;
    color: rgba(250, 50, 50, 0.7);
}

body {
    background-image: url(https://scontent.fvcp1-1.fna.fbcdn.net/v/t1.0-9/117887294_3223408497741027_743588388556857409_n.jpg?_nc_cat=100&_nc_sid=730e14&_nc_ohc=gm3B7pXpZ8sAX-BWRRi&_nc_ht=scontent.fvcp1-1.fna&oh=86370b1e844f5259a6e3f5425d34def4&oe=5F641261);
    background-repeat: repeat-y;
    background-position: center center;
    background-color: rgba(0, 26, 118, 0.4);
}

.nomephoto {
    font-size: 2em;
    margin-left: 1000px;
    z-index: 3;
    margin-top: -110px;
}

.img {
    border: 4px ridge rgb(48, 71, 210);
    margin-right: 50px;
    float: right;
    padding: 50px;
    position: absolute;
    top: 400px;
    left: 895px;
    z-index: 2;
}

.leal:hover {
    margin-left: 100px;
    font-size: 70px
}

.list {
    font-size: 2.5em;
    color: rgba(100, 100, 100, 0.9);
    margin-left: 200px;
    margin-top: 100px;
    font-weight: bolder;
    text-decoration: none
}

.list:hover {
    text-shadow: 0 0 4px #fff, 0 0 4px #ff0;
}

A:link {
    text-decoration: none;
    color: #8B0000;
}

A:visited {
    text-decoration: none;
    color: #8B0000;
}

A:active {
    text-decoration: none;
    color: #8B0000;
}

A:hover {
    text-decoration: underline;
    color: #8B0000;
}