.gif-container {
  display: flex;
  height: 40vw;
  justify-content: center;
  margin-top: 5%;
  width: 45vw;
}

.project-card {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  width: 90vw;
}

.project-info {
  display: flex;
  flex-direction: column;
  height: 30vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 45vw;
}