.Projects {
  background-image: url('../../imagens/bks/imagens3.jpg');
  background-size: cover;
  text-align: center;
}

p {
  margin: 15px;
}

.Projects-section {
  background-color: rgba(0, 0, 0, 0.829);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 1000px) {
  .Projects-section {
    font-size: calc(7px + 2vmin);
  }
}

@media only screen and (max-width: 900px) {
  .Projects-section {
    font-size: calc(5px + 2vmin);
  }
}


@media only screen and (max-width: 700px) {
  .Projects-section {
    font-size: calc(2px + 2vmin);
  }
}

@media only screen and (max-width: 600px) {
  .Projects-section {
    font-size: calc(1px + 2vmin);
  }
}